*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #f5f5f5;
    position: relative;
    min-height: 100vh;
}

header{
    background-color: #ebf5e6;
    border: solid 1px #004e2c;
}

main{
    padding-bottom: 2.5rem;
}

footer {
    color: #00502d;
    background-color: #ebf5e6;
    border: solid 1px #004e2c;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

#week_monthly_budget{
    background-color: #268159;
    color: white;
}

#monthly_budget{
    color: white;
    background-color: #268159;
}

#title{
    color: black;
}

#title:hover { 
    text-decoration: none; 
}

.pink{
    color: rgb(244, 179, 190);
}

.yellow{
    color: rgb(220, 220, 21);
}

.cursor{
    cursor: pointer;
}

.backgroundColor{
    background-color: #dcecd6;
}

.bottomBorder{
    border-bottom: black 1px solid;
}
