*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #B2BEB5;
}

#frontend-info{
    margin-top: 10vw;
}

#week_monthly_budget{
    background-color: green;
}

#monthly_budget{
    background-color: green;
}